.u-padding-8 {
	padding: 8rem 0;
}

.display-block-auto {
	display: block;
	margin: auto;
}

.margin-center {
	margin: 2% 35%;
}

.margin-donate-center {
	margin: 2% 15%;
}

.margin-list-posts {
	margin: 7.5% 2%;
}

.u-margin-up-5 {
	margin-top: 5%;
}

.scroll-y-hidden {
	overflow-y: hidden;
}
